services:
  redis:
    image: redis:7-alpine
    container_name: digitalkin-redis
    command: redis-server --requirepass ${REDIS_PASSWORD:-}
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    container_name: digitalkin-api
    ports:
      - '3300:3300'
    depends_on:
      redis:
        condition: service_healthy

volumes:
  redis_data:
